/* 
 * form class that encompasses overall auth page
 */
.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

/* 
 * text box formatting
 */
.form-control label, 
.form-control input {
    width: 100%;
    display: block;
}

/* 
 * Spacing out the label for the text box input
 */
.form-control label {
    margin-bottom: 0.5rem;
}

/* 
 * Spacing out the bottom of the form
 */
.form-control {
    margin-bottom: 1rem;
}

/* 
 * Formatting the button to make it actually look like a nice button 
 */
.form-actions button {
    background: #2D3142;
    font: inherit;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}

/* 
 * Changing hover button color
 */
.form-actions button:hover,
.form-actions button:active {
  background: #01a7a7;
  border-color: #01a7a7;
}